@font-face {
  font-family: "Manuka";
  src: url("../fonts/Manuka-Regular.eot");
  src: url("../fonts/Manuka-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manuka-Regular.woff2") format("woff2"),
    url("../fonts/Manuka-Regular.woff") format("woff"),
    url("../fonts/Manuka-Regular.ttf") format("truetype"),
    url("../fonts/Manuka-Regular.svg#Manuka-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manuka Slab";
  src: url("../fonts/ManukaSlab-Regular.eot");
  src: url("../fonts/ManukaSlab-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ManukaSlab-Regular.woff2") format("woff2"),
    url("../fonts/ManukaSlab-Regular.woff") format("woff"),
    url("../fonts/ManukaSlab-Regular.ttf") format("truetype"),
    url("../fonts/ManukaSlab-Regular.svg#ManukaSlab-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/FoundersGrotesk-Regular.eot");
  src: url("../fonts/FoundersGrotesk-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGrotesk-Regular.woff") format("woff"),
    url("../fonts/FoundersGrotesk-Regular.ttf") format("truetype"),
    url("../fonts/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("../fonts/FoundersGrotesk-RegularItalic.eot");
  src: url("../fonts/FoundersGrotesk-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"),
    url("../fonts/FoundersGrotesk-RegularItalic.woff") format("woff"),
    url("../fonts/FoundersGrotesk-RegularItalic.ttf") format("truetype"),
    url("../fonts/FoundersGrotesk-RegularItalic.svg#FoundersGrotesk-RegularItalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono";
  src: url("../fonts/FoundersGroteskMono-Regular.eot");
  src: url("../fonts/FoundersGroteskMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FoundersGroteskMono-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGroteskMono-Regular.woff") format("woff"),
    url("../fonts/FoundersGroteskMono-Regular.ttf") format("truetype"),
    url("../fonts/FoundersGroteskMono-Regular.svg#FoundersGroteskMono-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*===========================
  Global
===========================*/
:root {
  /* Base Colors */
  --driftwood: #493730;
  --softwhitequatz: #f7ece0;
  --coral: #e09170;
  --sandgrain: #e8d9c9;
  --seashell: #edcfc2;

  /* Text & Background Colors */
  --primary-text-color: var(--driftwood);
  --secondary-text-color: var(--softwhitequatz);
  --primary-bg-color: var(--softwhitequatz);

  /* Fonts */
  --fontfamily-manuka: "Manuka", sans-serif;
  --fontfamily-manuka-slab: "Manuka Slab", sans-serif;
  --fontfamily-founders-grotesk: "Founders Grotesk", sans-serif;
  --fontfamily-founders-grotesk-italic: "Founders Grotesk Regular", sans-serif;
  --fontfamily-founders-grotesk-mono: "Founders Grotesk Mono", sans-serif;

  /* Font Size */
  --font-size-base: 1.125rem;
  --font-size-h1: clamp(6.25rem, 10vw, 11.25rem);
  --font-size-h2: clamp(2.875rem, 5vw, 4.125rem);
  --font-size-h3: 2.25rem;
  --font-size-h4: 1.375rem;
  --font-size-h6: 1.25rem;

  /* Animations */
  --animation-fast: 0.4s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-primary: 0.6s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-smooth: 0.8s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-slow: 0.8s cubic-bezier(0.6, 0, 0.2, 1);
}

/* Selection */
::selection {
  background-color: var(--coral);
  color: var(--sandgrain);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--coral);
  color: var(--sandgrain);
  text-shadow: none;
}

/*------Locomotive Css Start-----------*/
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/*------Locomotive Css End-----------*/

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--fontfamily-founders-grotesk);
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  overflow-x: clip;
}

p {
  line-height: 1.2;
}

figure {
  margin: 0;
  position: relative;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all var(--animation-smooth);
}

a:hover {
  color: var(--coral);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 1700px) {
  .container {
    max-width: 1650px;
  }
}

p:empty {
  display: none !important;
}

/*===========================
  Utility Classes 
===========================*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-light {
  background-color: var(--seashell);
}

.background-dark {
  background-color: var(--coral);
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  padding-right: 5rem;
  font-family: "Founders Grotesk Mono";
}

.marquee-content .is-underline {
  border-bottom: 1px solid;
}

.marquee-inner {
  display: inline-flex;
  will-change: transform;
}

.is-mobile {
  display: none;
}

/* Normal Button */
.btn {
  font-size: 1.875rem;
  line-height: 1;
  letter-spacing: 0.03em;
  border: 2px solid transparent;
  border-radius: 6px;
  box-shadow: none;
  color: var(--primary-text-color);
  background: transparent;
  text-transform: uppercase;
  padding: 0;
  transition: all var(--animation-primary);
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-family: var(--fontfamily-manuka);
}
.btn > svg,
.btn span {
  grid-column: 1;
  grid-row: 1;
}
.btn span {
  padding: 0.553em;
}
.btn:hover {
  background: var(--offwhite-color);
  color: var(--primary-color);
}
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.85rem;
}
.simple-btn {
  font-family: "Founders Grotesk mono";
  text-transform: uppercase;
  font-size: 1.18rem;
  border-bottom: 1px solid;
  padding-bottom: 0.3rem;
}

/* Dark Button */
/* .btn-primary {
  color: var(--white-color);
  background: var(--primary-color);
}
.btn-primary span {
  color: var(--secondary-color);
}
.btn.btn-primary:hover {
  background: var(--offwhite-color);
  color: var(--primary-color);
}
.btn-primary:hover span {
  color: var(--primary-color);
} */

/* Light Button */
/* .btn-secondary {
  color: var(--primary-color);
  background: var(--offwhite-color);
}
.btn.btn-secondary:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
} */

/* Tranparent */
/* .btn-transparent {
  background: transparent;
  color: var(--white-color);
}
.btn-transparent span {
  color: var(--secondary-color);
}
.btn-transparent:hover {
  background: transparent;
  color: var(--white-color);
}
.btn-transparent:hover span {
  color: var(--white-color);
} */

.underline-link {
  position: relative;
}
.underline-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--driftwood);
  transform-origin: right center;
  transform: scaleX(0) rotate(0.001deg);
  transition: transform var(--animation-primary);
}
.underline-link:hover::before,
.underline-link.active::before,
[data-filter-status="active"].underline-link::before {
  transform-origin: left center;
  transform: scaleX(1) rotate(0.001deg);
}

/* Heading */
h1,
.heading-style-h1 {
  font-family: var(--fontfamily-manuka);
  font-size: var(--font-size-h1);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  margin: 0;
}

h2,
.heading-style-h2 {
  font-family: var(--fontfamily-manuka);
  font-size: var(--font-size-h2);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  margin: 0;
}

h4,
.heading-style-h4 {
  font-family: var(--fontfamily-founders-grotesk);
  font-size: var(--font-size-h4);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h6,
.heading-style-h6 {
  font-family: var(--fontfamily-founders-grotesk);
  font-size: var(--font-size-h6);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.alt-font {
  font-family: var(--fontfamily-manuka-slab);
}

section:is(:not(.section-hero), .no-background) {
  padding: 9rem 0;
}

.spacer-large {
  min-height: 11.875rem;
}
.spacer-medium {
  min-height: 10rem;
}
.spacer-small {
  min-height: 7.5rem;
}
.w-10ch {
  max-width: 10ch;
}
.w-20ch {
  max-width: 20ch;
}
.w-25ch {
  max-width: 25ch;
}
.w-30ch {
  max-width: 30ch;
}
.w-40ch {
  max-width: 40ch;
}
.w-45ch {
  max-width: 45ch;
}
.w-50ch {
  max-width: 50ch;
}
.w-55ch {
  max-width: 55ch;
}
.w-60ch {
  max-width: 60ch;
}
.w-65ch {
  max-width: 65ch;
}

/* Swiper */
.mySwiper {
  width: 100%;
  padding: 40px 0;
  overflow: visible;
  cursor: grab;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: start;
}

.swiper-button-prev,
.swiper-button-next {
  top: auto;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 0;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* Header */
.notification-bar {
  background: var(--coral);
  padding-block: 1rem;
  text-align: center;
}

.notification-bar p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}

header {
}
header .header-bg {
}
header .navbar {
  padding: 1.5rem 0;
}

header .navbar-desktop {
  gap: 1.2rem;
}
header .navbar-desktop li {
}
header .navbar-desktop li a {
  font-size: 1.875rem;
  font-family: var(--fontfamily-manuka);
  left: 0.03em;
  text-transform: uppercase;
}
header .navbar-desktop li a:hover {
  color: currentColor;
}
.mega-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  background-color: var(--primary-bg-color);
  z-index: 999;
  padding-bottom: 1rem;
}
.dropdown-menu.show {
  margin: 0;
  border: unset;
  padding-top: 0;
  padding-bottom: 1.5rem;
}
.mega-menu a {
  font-family: "Founders Grotesk Mono" !important;
  text-transform: uppercase !important;
  padding-top: 0.4rem;
  font-size: 1rem !important;
}
.mega-menu .alt-font {
  font-family: "Founders Grotesk Mono" !important;
}
.mega-menu img {
  max-width: 100%;
}
.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.hero-wrapper figure,
.hero-wrapper .hero-content {
  grid-column: 1 /-1;
  grid-row: 1 /-1;
}
.hero-wrapper .hero-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 1.5rem;
}
.hero-wrapper h1 {
  color: var(--secondary-text-color);
}
.home-vector-img {
  margin-right: auto;
  display: table;
  margin-left: -16rem;
}
.center-content {
  padding-inline: 2rem;
}
.center-content h2 {
  margin-bottom: 1.2rem;
}
.center-content p {
  margin-bottom: 2.5rem;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  letter-spacing: 2px;
  text-transform: uppercase;
  width: auto;
  font-size: 1rem;
}
.right-vector img {
  float: right;
  margin-right: 1rem;
  margin-top: -3rem;
}
.double-overlap-images .first-img {
  float: right;
  margin-bottom: -6rem;
  width: 60%;
}
.double-overlap-images .second-img {
  width: 80%;
}
.left-small-img img {
  padding-top: 11.25rem;
}
.marquee-section {
  background: var(--sandgrain);
}
.section-col-2 .left-col .center-content {
  padding-top: 3.125rem;
}
.section-col-2 .right-col .center-content {
  padding-top: 9.375rem;
}
.email-block {
  padding-left: 3rem;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.newsletter-form {
  max-width: 100%;
  margin: 0 auto;
}
.nl-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.nl-wrap input[type="email"] {
  width: 100%;
  padding: 0.3rem 0;
  outline: none;
  border: unset;
  background: transparent;
  text-transform: uppercase;
  font-family: "Founders Grotesk Mono";
  border-bottom: 1px solid;
  font-size: 1rem;
}
.nl-wrap input[type="email"]::placeholder {
  color: var(--primary-text-color);
}
.nl-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
}
footer li a,
.copyright-content {
  font-family: "Founders Grotesk Mono";
  font-size: 1rem;
  text-transform: uppercase;
}
.copyright-content p {
  margin-bottom: 0;
  line-height: 1.7;
}
.copyright-menu ul {
  gap: 1.5rem;
}
.copyright-row {
  padding-top: 7.5625rem;
}

/*------Inner Pages Css Start-----------*/

.content-box {
  background: #d9d9d9;
  float: right;
  padding: 3rem 1.5rem;
}

.content-box p {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.85rem;
}

.custom-swiper {
  padding-bottom: 2.5rem;
  margin-bottom: -2.5rem;
}

.custom-swiper .swiper-pagination-fraction {
  width: auto;
  left: unset;
  right: 0;
  font-family: "Founders Grotesk Mono";
  font-size: 1rem;
}

.custom-swiper .swiper-slide img {
  width: 100%;
}

.custom-swiper .swiper-button-wrapper {
  display: flex;
  gap: 1.5rem;
}

.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  position: relative;
  bottom: -30px;
  width: 20px;
  height: auto;
}

.list-unstyled li {
  border-bottom: 1px solid;
  font-family: "Founders Grotesk Mono";
  text-transform: uppercase;
  font-size: 1rem;
  padding-block: 0.4rem;
}

.list-unstyled li:first-child {
  border-top: 1px solid;
}

.list-unstyled p {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-family: "Founders Grotesk Mono";
  margin-top: 0.6rem;
}

.service-slider .swiper-slide {
  justify-content: start;
}

.service-slider {
  overflow: visible;
  padding-top: 4rem;
}

.service-slider .swiper-wrapper {
  gap: 6rem;
}
.service-slider-wrapper {
  padding: 20px 0;
  position: relative;
}

.service-slider-wrapper .swiper-button-next,
.service-slider-wrapper .swiper-button-prev {
  top: -2rem;
  right: 0;
  left: auto;
  color: #000;
}

.service-slider-wrapper .swiper-button-prev {
  right: 4rem;
}

.service-slider .swiper-slide {
  justify-content: start;
}

/*------Inner Pages Css End-----------*/

/*------Gallery Pages Filter Css Start-----------*/
.filter-group {
  min-height: 100vh;
}

/* Filter Buttons */
.filter-buttons {
  grid-column-gap: 1.875rem;
  grid-row-gap: 0.5em;
  flex-flow: wrap;
  justify-content: center;
  padding: 1em 1em 6em;
  display: flex;
}
.filter-buttons > span {
  line-height: 1;
  padding-bottom: 1.5px;
}

.filter-btn {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  font-size: 1.1875rem;
  letter-spacing: 0.03em;
  line-height: 1;
  background: transparent;
  border: 0;
  text-transform: uppercase;
  font-family: var(--fontfamily-founders-grotesk-mono);
  color: inherit;
}

/* Reset Button */
.reset-btn {
  outline-offset: -2px;
  color: #c90f0f;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c90f0f0d;
  border-radius: 10em;
  outline: 2px solid #c90f0f;
  padding: 0.65em 1.25em;
  font-size: 1.5em;
  transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  opacity: 0;
  visibility: hidden;
}

.reset-btn[data-filter-status="active"] {
  opacity: 1;
  visibility: visible;
}

/* Filter List */
.filter-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.filter-list__item img {
  width: 100%;
  display: block;
}
.filter-list__item[data-filter-status="active"].position-1 {
  grid-column: 2 / 8;
}
.filter-list__item[data-filter-status="active"].position-2 {
  grid-column: 7 / 12;
  margin-top: 10vw;
}
.filter-list__item[data-filter-status="active"].position-3 {
  grid-column: 2 / 5;
}
.filter-list__item[data-filter-status="active"].position-4 {
  grid-column: 9 / 12;
  margin-top: 15vw;
}
.filter-list__item[data-filter-status="active"].position-5 {
  grid-column: 2 / 8;
  margin-top: -12vw;
}
.filter-list__item[data-filter-status="active"].position-6 {
  grid-column: 7 / 12;
  margin-top: 10vw;
}
.filter-list__item[data-filter-status="active"].position-7 {
  grid-column: 2 / 5;
  margin-top: -6vw;
}
.filter-list__item[data-filter-status="active"].position-8 {
  grid-column: 5 / 12;
  margin-top: 25vw;
}
.filter-list__item[data-filter-status="active"].position-9 {
  grid-column: 2 / 4;
  margin-top: 5vw;
}
.filter-list__item[data-filter-status="active"].position-10 {
  grid-column: 3 / 9;
  margin-top: 10vw;
}
.filter-list__item[data-filter-status="active"].position-11 {
  grid-column: 2 / 5;
  margin-top: 10vw;
}
.filter-list__item[data-filter-status="active"].position-12 {
  grid-column: 8 / 12;
  margin-top: 20vw;
}

.filter-list__item[data-filter-status="active"] {
  transition: opacity 0.6s cubic-bezier(0.625, 0.05, 0, 1),
    transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  transform: scale(1) rotate(0.001deg);
  opacity: 1;
  visibility: visible;
  position: relative;
}
.filter-list__item[data-filter-status="transition-out"] {
  transition: opacity 0.45s cubic-bezier(0.625, 0.05, 0, 1),
    transform 0.45s cubic-bezier(0.625, 0.05, 0, 1);
  transform: scale(0.9) rotate(0.001deg);
  opacity: 0;
  visibility: visible;
}
.filter-list__item[data-filter-status="not-active"],
.filter-list__item[data-filter-status="transition-out"][class*="position-"] {
  transform: scale(0.9) rotate(0.001deg);
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 991px) {
  .filter-list__item {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item {
    width: 100%;
  }
}
/*------Gallery Pages Filter Css End-----------*/

/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 1600px) {
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 1440px) {
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 1366px) {
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 1280px) {
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 1024px) {
  header .navbar-desktop li a {
    font-size: 1.675rem;
  }
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 840px) {
  header .navbar-desktop li a {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .navbar-brand svg {
    width: 140px;
  }
  .mega-menu a {
    font-size: 0.7rem !important;
  }
  .hero-wrapper img {
    min-height: 570px;
    object-fit: cover;
  }
  .home-vector-img {
    margin-left: -12rem;
  }
  .right-vector img,
  .left-vector img {
    width: 100px;
  }
  .left-small-img img {
    padding-top: 2rem;
    width: 120px;
    padding-bottom: 3rem;
  }
  .center-content {
    padding-inline: 0;
  }
  section.section-col-2 .col-md-4 img {
    width: 100%;
  }
  .section-col-2 .right-col .center-content {
    padding-top: 5rem;
  }
  section:is(:not(.section-hero), .no-background) {
    padding: 6rem 0;
  }
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 525px) {
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  .btn {
    font-size: 1.7rem;
  }
  header .navbar .container {
    justify-content: center;
  }
  .vertical-text {
    display: none;
  }
  .home-vector-img {
    margin-left: 0;
    width: 120px;
    margin-bottom: 1.5rem;
  }
  .right-vector img {
    width: 90px;
    margin-top: -1rem;
    margin-right: 0;
  }
  .left-small-img img {
    margin-right: auto;
    display: block;
    padding-top: 0;
    width: 100px;
    padding-bottom: 3.75rem;
  }
  .double-overlap-images .first-img {
    width: 40%;
  }
  .double-overlap-images .second-img {
    width: 85%;
    padding-left: 3rem;
  }
  .spacer-medium {
    min-height: 6.87rem;
  }
  .spacer-small {
    min-height: 2.812rem;
  }
  .section-col-2 img {
    width: 75% !important;
  }
  .section-col-2 .left-col .center-content {
    padding-top: 2.5rem;
    padding-bottom: 6.25rem;
  }
  .section-col-2 .right-col .center-content {
    padding-top: 2.5rem;
  }
  .email-block {
    padding-left: 0;
    text-align: center;
  }
  .simple-btn {
    font-size: 1rem;
  }
  footer .row {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .copyright-row {
    padding-top: 2rem;
  }
  .footer-logo {
    padding-top: 3rem;
  }
  .copyright-menu ul {
    gap: 1.875rem;
    justify-content: center !important;
  }

  /*------Inner Pages Responsive Start-----------*/
  .custom-swiper {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
  }
  .small-img {
    width: 50% !important;
  }
  /*------Inner Pages Responsive End-----------*/
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 430px) {
}
/*-----------------------------------------------------------------------------------------------------*/
@media (max-width: 360px) {
}
